<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @event.fees %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<div class="span8">
    <% if @event.users.any? %>
      <h3>Users (<%= @event.users.count %>)</h3>
        
        <li>
          <%= @event.users.all %>
        </li>
        
      <% end %>
</div>